.setupWrapper {
  padding: 15px;
}

.setupHeader {
  margin: 0px 5px 10px 0px;
  font-size: 2em;
  font-weight: 600;
  color: #222;
}

.setupIcon {
  width: 32px;
  height: 32px;
  margin: 0 5px 0 0;
}

.setupIcon.small {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

div.box.info {
  border-color: #b9ceea;
}

div.box {
  border: 1px solid #d4d4d4;
}

div.box.info > .box_heading {
  background-color: #ecf4ff;
  color: #2c5791;
}

div.box > .box_heading {
  padding: 0.2714rem 0.8571rem 0 0.8571rem;
  background-color: #f0f0f0;
  color: #222222;
  font-size: 0;
}

div.box > .box_heading > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1rem;
  max-width: 100%;
}

div.box > .box_body {
  background-color: #ffffff;
  padding: 0.5714rem 0.8571rem;
}

.label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: #222222;
  word-wrap: break-word;
  margin: 0 10px 0 0;
}

.text_body {
  color: #222222;
  white-space: pre-wrap;
  min-height: 1.4rem;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 12px;
  word-wrap: break-word;
  text-align: left;
}

.text_warning {
  font-weight: 600;
  color: #d39e00;
  margin: 0.5714rem 0 0 0;
  font-size: 0.9286rem;
  line-height: 1.2307rem;
}

.text_error {
  font-weight: 600;
  color: #de0037;
  margin: 0.5714rem 0 0 0;
  font-size: 0.9286rem;
  line-height: 1.2307rem;
}

.text {
  font-size: 1rem;
  color: #222222;
  line-height: 1.42857142857143;
  padding: 0.4286rem 0.5714rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-appearance: none;
}

.btn {
  pointer-events: all;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  color: #1d659c;
  fill: #1d659c;
  font-size: 1rem;
  font-weight: 600;
  height: 2.7143rem;
  vertical-align: middle;
  padding: 0 0.7143rem;
  margin: 1px 0;
  max-width: 28em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #ffffff;
  border: 1px solid #1d659c;
  border-radius: 0;
  transition-duration: 0.2s;
  transition-property: transform;
  -webkit-font-smoothing: antialiased;
}

.btn.small {
  font-size: 0.9286rem;
  height: 2.4286rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

.btn:not(:disabled):active,
.btn:not(:disabled):hover {
  box-shadow: 0 0px 5px #2173b2;
}

.btn:disabled {
  transform: none;
  opacity: 0.5;
  cursor: default;
  box-shadow: none;
}

.btn.destructive {
  border-color: #de0037;
  color: #de0037;
  fill: #de0037;
}

.btn.destructive:not(:disabled):active,
.btn.destructive:not(:disabled):hover {
  box-shadow: 0 0px 5px #de0037;
}

.btn.destructive:not(:disabled):hover,
.btn.destructive:not(:disabled):focus:not(.appian-context-ux-mouse-focus) {
  background-color: #de0037;
  color: #eeeeee;
  fill: #eeeeee;
  outline-color: #eeeeee;
}

.btn.primary {
  background-color: #1d659c;
  border-color: #1d659c;
  color: #ffffff;
  fill: #ffffff;
}

.btn.primary:not(:disabled):hover,
.btn.primary:not(:disabled):focus:not(.appian-context-ux-mouse-focus) {
  background-color: #2173b2;
  outline-color: #ffffff;
}

.side_by_side {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.flex_item {
  flex-grow: 1;
}

.flex_item.minimize {
  flex-grow: 0;
}

.divider_above {
  margin-top: 1rem;
  border-top: 1px solid #d4d4d4;
  padding-top: 1rem;
}

.text:placeholder-shown {
  font-family: 'Appian Open Sans Light', Sans-Serif;
  color: #767676;
  font-style: italic;
}

.openTab {
  padding: 0 0 0 10px;
  cursor: pointer;
}
